body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f5ef;
}

header {
  background-color: #6e4004;
  color: rgb(252, 251, 250);
  text-align: center;
  padding: 2rem;
}

section {
  padding: 2rem;
}

button {}
footer {}
